.form_btn {
  padding: 0;
  width: var(--button-md);
  border-radius: 100%;
  border: var(--border-input) double var(--black);
  outline: var(--outline-input) solid var(--black);
  cursor: pointer;
  transition: .2s all ease;
}

.form_btn:hover {
  transform: scale(1.1);
  transition: .2s all ease;
}

.form_btn:focus {
  transform: scale(1.05);
  transition: .2s all ease;
}

.form_btn:focus+.form_btn {
  opacity: .7;
}

.form_btn:has(+ .form_btn:focus) {
  opacity: .7;
}

.form_btn+.form_btn:focus {
  opacity: 1;
}

.form_btn img {
  border-radius: inherit;
  vertical-align: middle;
  object-fit: contain;
  max-width: 100%;
}

.form_btn:active {
  transform: scale(0.9);
}