.form_btn {
  width: fit-content;
  border-radius: 100%;
  border: var(--border-input) double var(--black);
  outline: var(--outline-input) solid black;
  cursor: pointer;
  transition: .2s all ease;
}

.form_btn:hover {
  transform: scale(1.1);
  transition: .2s all ease;
}

.form_btn:focus {
  transform: scale(1.1);
  transition: .2s all ease;
}

.form_btn:focus+.form_btn {
  opacity: .7;
}

.form_btn:has(+ .form_btn:focus) {
  opacity: .7;
}

.form_btn+.form_btn:focus {
  opacity: 1;
}

.form_btn img {
  width: 1.563vw;
  height: 1.563vw;
  border-radius: inherit;
  vertical-align: bottom;
}

.form_btn:active {
  transform: scale(0.9);
}

.form_btn[type="submit"] img {
  width: 2.604vw;
  height: 2.604vw;
}