.form_container {
  background: var(--control-pokedex_background);
  padding: var(--padding-lg);
  border: .31vw double var(--black);
  border-radius: 1vw;
  outline: var(--outline-input) solid var(--black);
  display: flex;
  flex-direction: column;
}

.form_container form {
  display: flex;
  flex-direction: column;
  gap: .8em;
}

.pokemon_input {
  background-color: var(--green);
  letter-spacing: -.1em;
  border: var(--border-input) double var(--black);
  border-radius: 1vw;
  outline: var(--outline-input-sm) solid var(--black);
  padding: var(--padding-input);
  font-size: var(--input-text-size);
  font-weight: 800;
}

.pokemon_input::placeholder {
  font-size: inherit;
  line-height: inherit;
  color: var(--black);
  letter-spacing: .1em;
  font-weight: 800;
}

.btn_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

/* Hints */

.pokemon-hints-container {
  width: 100%;
  height: 110px;
  margin-top: 6px;
  background: #9bbc0f;
  border: 2px solid #0f380f;
  overflow-y: auto;
}

.pokemon-hints {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.pokemon-hints li {
  padding: 6px 8px;
  cursor: pointer;
}

.pokemon-hints li.active,
.pokemon-hints li:hover {
  background: #8bac0f;
}