.form_container {
  background: var(--control-pokedex_background);
  padding: var(--padding-lg);
  border: .31vw double var(--black);
  border-radius: 1vw;
  outline: var(--outline-input) solid var(--black);
  display: flex;
  flex-direction: column;
}

.form_container form {
  display: flex;
  flex-direction: column;
  gap: .8em;
}

.pokemon_input {
  background-color: var(--green);
  letter-spacing: -.1em;
  border: var(--border-input) double var(--black);
  border-radius: 1vw;
  outline: var(--outline-input-sm) solid var(--black);
  padding: var(--padding-input);
  font-size: var(--input-text-size);
  font-weight: 800;
}

.pokemon_input::placeholder {
  color: var(--black);
  letter-spacing: .1em;
  font-weight: 800;
}

.btn_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}