.pokedex-body_container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-main-container);
  background-color: var(--background_pokedex);
  width: fit-content;
  height: fit-content;
  min-height: 500px;
  min-width: 500px;
  border: var(--border-pokedex) solid var(--black);
  border-radius: 50px;
  font-family: 'PokemonGB', Arial, Helvetica, sans-serif;
  letter-spacing: -.1em;
}

.pokedex-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-vertical-md);
}

/* Botón idioma */

.lang-toggle {
  margin-left: auto;
  background: var(--black);
  color: var(--white);
  border: 2px solid var(--black);
  padding: 2px 6px;
  font-family: 'PokemonGB', Arial, Helvetica, sans-serif;
  cursor: pointer;
}


/* BOTÓN DE ENCENDIDO */

.power-button-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--gap-hporizontal-sm);
  font-size: .8rem;
  margin-bottom: 15px;
}

.power-button-container span {
  align-self: center;
}

.power-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #500;
  border: 2px solid #300;
  cursor: pointer;
}

.power-button.on {
  background: red;
  box-shadow: 0 0 6px red;
}


/* ESTADO GENERAL DE LA POKEDEX */

.pokedex-content-container {
  position: relative;
}

.pokedex-content-container.off {
  pointer-events: none;
}


/* OVERLAY PANTALLA APAGADA */

.power-off-overlay {
  position: absolute;
  inset: 0;
  background: var(--black);
  z-index: 20;
}