.main-pokedex_container {
  display: flex;
  flex-direction: row;
  padding: var(--padding-main-container);
  background-color: var(--background_pokedex);
  width: 70vw;
  height: 80vh;
  min-height: 500px;
  border: var(--border-pokedex) solid var(--black);
  border-radius: 2vw;
  font-family: 'PokemonGB', Arial, Helvetica, sans-serif;
  letter-spacing: -.1em;
}

.col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  width: 30%;
}

.col-2 {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.control-pokedex_container {
  background: var(--control-pokedex_background);
  border-radius: 100%;
  padding: var(--padding-control);
  border: var(--border-input) double var(--black);
  outline: var(--outline-input) solid var(--black);
  width: fit-content;
}

.control-pokedex_img {
  height: 6.250vw;
  width: 6.250vw;
  cursor: pointer;
}