.main-pokedex_container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-main-container);
  background-color: var(--background_pokedex);
  width: fit-content;
  height: fit-content;
  min-height: 500px;
  min-width: 500px;
  border: var(--border-pokedex) solid var(--black);
  border-radius: 2vw;
  font-family: 'PokemonGB', Arial, Helvetica, sans-serif;
  letter-spacing: -.1em;
}

.col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}