.col-pantalla-type {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 400px;
  height: 100%;
  gap: 2em;
  align-items: center;
}

.pantalla-pokedex_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 70%;
  min-height: 400px;
  background-color: var(--white);
  border: var(--border-input) double var(--border_pantalla-light-gray);
  border-top: 0px;
  outline: var(--outline-pantalla) solid var(--black);
  padding: 0 var(--padding-horizontal-lg);
}

.pokemon_name {
  text-transform: capitalize;
  text-align: center;
}

.pokemon-information_container {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.pokemon-img_container {
  flex-basis: 40%;
}

.pokemon_img {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 100%;
}

.stats_container {
  display: flex;
  padding: 0 0 var(--padding-vertical-lg) var(--padding-horizontal-lg);
  flex-basis: 60%;
  flex-direction: column;
}