.col-pantalla-type {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  gap: var(--gap-vertical-md);
  align-items: center;
}

.pantalla-pokedex_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
  background-color: var(--green);
  border: var(--border-input) double var(--border_pantalla-light-gray);
  border-top: 0px;
  outline: var(--outline-pantalla) solid var(--black);
  padding: 0 var(--padding-horizontal-lg);
  overflow: hidden;
}

.pokemon_name {
  text-transform: capitalize;
  text-align: center;
}

.pokemon-information_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-img_container {
  flex-basis: 40%;
  width: var(--pokemon-img);
  height: var(--pokemon-img);
}

.pokemon_img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.stats_container {
  display: flex;
  padding: 0 0 var(--padding-vertical-lg) var(--padding-horizontal-lg);
  flex-basis: 60%;
  flex-direction: row;
}

/* Loader */
.loading-overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--black);
  color: var(--black);
  text-align: center;
}

.loading-text {
  font-size: 12px;
  margin-bottom: 10px;
}

.loading-dots {
  font-size: 14px;
  animation: blink 1.3s infinite steps(1);
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Info */

.info-overlay {
  position: absolute;
  inset: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #0f380f;
  text-align: center;
}

.info-text {
  font-size: 12px;
  padding: 0 10px;
}