.main-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 5em;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/img/background_pueblo-primavera.png');
}